* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-content {
  padding: 50px;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

#headerBG {
  width: 100%;
}

#logo {
  position: absolute;
  top: 10px;
  left: 50px;
  height: 12vw;
}

ul {
  font-size: 2vw;
  position: absolute;
  top: 20px;
  right: 50px;
}

li {
  font-family: "Paytone One", sans-serif;
  color: white;
  list-style: none;
}

nav ul li {
  display: inline;
  margin-left: 20px;
}
nav li a {
  text-decoration: none;
  color: white;
}

nav li a:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
}

.local-history {
  padding: 0px 50px 0px 50px;
  text-align: center;
}

section {
  padding: 0px 50px 0px 50px;
}

.local {
  border: #ffaa2b;
  border-style: solid;
  padding: 5px;
  margin: 5px;
}

.main-content h3 {
  font-family: "Paytone One", sans-serif;
  color: #ffaa2b;
}

#cityName {
  margin-top: 50px;
  background-color: lightgray;
  font-size: larger;
  font-weight: bold;
}

#info {
  font-size: large;
  font-weight: 600;
}

h5 {
  padding-bottom: 15px;
}

h6 {
  font-size: smaller;
}

.input-group {
  width: 50%;
  margin: auto;
}

.logo {
  height: 50px;
  display: grid;
  align-items: center;
  padding: 10px;
  padding-left: 50px;
}

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.15);
  border: none;
}

.card-title {
  font-family: "Paytone One", sans-serif;
  font-size: 37px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#cardWeather {
  font-family: "Paytone One", sans-serif;
  font-size: 21px;
  font-weight: 100;
  color: #f79739;
}

#cardWeatherInfo {
  margin-bottom: 5px;
}

.img-fluid {
  background-repeat: no-repeat;
  height: 100%;
  width: auto;
  object-fit: cover;
}

#input_name {
  padding: 9px 20px;
  border-color: #f79739;
}

#search {
  font-family: "Paytone One", sans-serif;
  padding-left: 50px;
  padding-top: 25px;
  color: #f79739;
}

.card-title {
  font-size: 20px;
}

.btn {
  background-color: #f79739;
  border-color: #f79739;
  font-size: 10px;
  position: relative;
}

.submit-btn {
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
}

.submit-btn:hover {
  color: #f79739;
  background-color: white;
  outline: 2px solid #f79739;
  outline-offset: -2px;
}

#clearHistoryBtn {
  font-size: 1rem;
  padding: 10px 20px;
  background-color: #dc3545;
  border: none;
}

#clearHistoryBtn:hover {
  background-color: white;
  color: #dc3545;
  outline: 2px solid #dc3545;
  outline-offset: -2px;
}

footer {
  background-color: #f79739;
  padding: 36px 0;
}

footer img {
  height: 60px;
}

footer h6 {
  color: white;
}

footer a {
  font-weight: bold;
  text-decoration: none;
  background-color: white;
  color: #f79739;
  padding: 10px 20px;
  border-radius: 8px;
}

footer a:visited {
  color: #f79739;
}

footer a:hover {
  color: white;
  background-color: #f79739;
  outline: 2px solid white;
  outline-offset: -2px;
}

/* Creators Page Styling */

.fa-brands {
  font-size: 2rem;
  color: #f79739;
}

.fa-square-github:hover {
  color: #d17e2b;
}
