.main-content {
  padding: 50px;
  text-align: center;
}

#headerBG {
  width: 100%;
}

#logo {
  position: absolute;
  top: 8px;
  left: 50px;
  height: 12vw;
}

ul {
  font-size: 2vw;
  position: absolute;
  top: 8px;
  right: 50px;
}

li {
  font-family: "Paytone One", sans-serif;
  color: white;
  list-style: none;
}

.local-history {
  padding: 0px 50px 0px 50px;
  text-align: center;
}

section {
  padding: 0px 50px 0px 50px;
}

.local {
  border: #ffaa2b;
  border-style: solid;
  padding: 5px;
  margin: 5px;
}

#cityName {
  margin-top: 50px;
  background-color: lightgray;
  font-size: larger;
  font-weight: bold;
}

#info {
  font-size: large;
  font-weight: 600;
}

h5 {
  padding-bottom: 15px;
}

h6 {
  font-size: smaller;
}

.input-group {
  width: 50%;
  margin: auto;
}

.logo {
  height: 50px;
  display: grid;
  align-items: center;
  padding: 10px;
  padding-left: 50px;
}

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.card-title {
  font-family: "Paytone One", sans-serif;
  font-size: 37px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#cardWeather {
  font-family: "Paytone One", sans-serif;
  font-size: 21px;
  font-weight: 100;
  color: #f79739;
}

#cardWeatherInfo {
  margin-bottom: 5px;
}

.img-fluid {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: auto;
}

#search {
  font-family: "Paytone One", sans-serif;
  padding-left: 50px;
  padding-top: 25px;
  color: #f79739;
}

.card-title {
  font-size: 20px;
}

.btn {
  background-color: #f79739;
  border-color: #f79739;
  font-size: 10px;
  position: relative;
}
#clearHistoryBtn {
  font-size: 10px;
  margin-right: 20px;
}
